
<nav id="navbar">

  <a id="main-logo" href="<%- config.root %>">
    <div class="de-svg" src="<%- config.root %>assets/logo.svg"></div>
  </a>

  <ul class="nav-menu">

    <li class="left">
      <a>Home</a>
    </li>

    <li class="left">
      <a>Categories</a>
    </li>

    <li class="right">
      <a>About</a>
    </li>

    <li class="right">
      <a>Archives</a>
    </li>

  </ul>

</nav>
