
<nav id="navbar">

  <a id="main-logo" href="<%- config.root %>">
    <div class="de-svg" src="<%- config.root %>assets/logo.svg"></div>
  </a>

  <ul id="navbar-menu" class="clearfix">

    <div id="navbar-menu-trigger" class="trigger">
      menu
    </div>

    <li class="left">
      <a href="<%- config.root %>">home</a>
    </li>

    <li class="left">
      <a>categories</a>
    </li>

    <li class="right">
      <a>about</a>
    </li>

    <li class="right">
      <a>archives</a>
    </li>

  </ul>

</nav>
